*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

            /*setting background image & position */
.full-page
{
  height:100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  position: absolute;
  background-color: whitesmoke;
  /*background-image: url('homepage.jpg');*/
                       
}

         /*Dimension of the navigation bar */ 
.navbar
{
  display: flex;
  align-items: right;
  padding: 20px;
  padding-left: 50px;
  padding-right: 30px;
  padding-top: 40px;
}
nav
{
  flex: 1;
  text-align: right;
}
nav ul 
{
  display: inline-block;
  list-style: none;
}
            /* Styling the list of Elements */
nav ul li 
{
  display: inline-block;
  margin-right: 70px;
}
             /* login button */
nav ul li a 
{
  text text-decoration : bold;
  font-size: 20px;
  color: black;
  font-family: sans-serif;
                                 
}
nav ul li button
{
  font size: 50px;
  color: blueviolet;
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;
  font-family: sans-serif ;
}
nav ul li button:hover
{
  color :whitesmoke; /* login button cha color change hoto */
}
nav ul li a:hover
{
  color: blueviolet;
}
a 
{
  text-decoration:none ;
  color:whitesmoke;  /* wounder of programing */
  font-size: 28px;
}


             /* Hiding the Form */
#login-form 
{
  display:none;
}

             /* Creating the Form with Width & Height */
.form-box
{
  width: 380px;
  height: 480px;
  position: relative;
  margin: 2% auto;
  background: rgba(0,0,0,0.3);
  padding: 10px;
  overflow: hidden;
}

.button-box 
{
  width: 220px;
  margin: 35px;
  position: relative;
  box-shadow : 0 0 20px 9px #ff61241f;
  border-radius: 30px; 
}

.toogle-btn
{
  padding: 10px 30px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
}

#btn 
{
  top: 0;
  left: 0;
  position: absolute;
  width: 110px;
  height: 100;
  background: burlywood;
  border-radius: 30px;
  transition: .5s;
}

.input-group-login
{
  margin-left: 650px;
  margin-top: 100px;
  top: 150px;
  position: absolute;
  width: 280px;
  transition: .5s;
}

.input-group-register
{
  top: 120px;
  position: absolute;
  width:280px;
  transition: .5s;
}

.input-field
{
  width: 100%;
  padding: 10px 0;
  margin: 5px 0;
  border-left: 0px;
  border-right: 0px ;
  border-top: 0px;
  border-bottom: 1px solid #999;
  outline: none;
  background: transparent;
}

.submit-btn
{
  width:58%;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin: auto ;
  background: #F3C693;
  border: 0;
  outline: none;
  border-radius:30px ;
}

.check-box
{
  margin:30px 10px 34px 0;
}

span 
{
  color: #777;
  font-size: 12px;
  bottom: 68px;
  position: absolute;
}

#login
{
  left: 50px;
}

#login input
{
  color: whitesmoke;
  font-size: 15;
}

#register 
{
  left:450px;
}

#register input 
{
  color:whitesmoke;
  font-size: 15;
}
.footer{
  background-color: black;
  color:whitesmoke;
  margin-top:370px;
  height:150px;
}